# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore Pipenv and pyenv environment files
Pipfile.lock
.python-version

# Ignore data files (if you do not want to track them in git)
data/

# Ignore compiled Python files
*.pyo

# Ignore the .git folder
.git/

# Ignore other IDE-specific files (e.g., VSCode, JetBrains)
.vscode/
.idea/

# Ignore notebook outputs
*.ipynb_checkpoints/
